html, body {
	padding: 0;
	margin: 0;

	font-family: 'Lato', sans-serif;
}

ul {
	padding: 0;
	margin: 0;

	list-style: none;
}

li a {
	padding-left: 1%;
}

a {
	outline: none;
	text-decoration: none;	
}

a:link {
	color: #EA2539;
}

a:visited {
	color: #6E0E0A;
}

a:hover {
	border-bottom: 1px solid;
}

.button {
	cursor: pointer;
}

.top {
	height: 50%;
	background-color: #EA2539;
	color: #fff;
	position: relative;
}

	.top div {
		position: absolute;
		bottom: 0;
		font-size: 500%;
		text-align: left;
		padding-left: 1%;
	}

.bottom {
	height: 50%;
	background-color: #fff;
	color: #000;
}

	.bottom div {
		font-size: 200%;
		margin: 0 0 0 47%;
	}

	.description {
		padding-top: 1%;
	}

	.people {
		margin-top: 1%;
	}

	.heading {
		width: 31%;
		padding-top: 3%;
		border-bottom: 1px solid #000;
	}


